<div class="row justify-content-center align-items-center vh-100" style="background-color: #ebeff2;">
  <div class="col-10 col xxl-4 col-xl-5 col-lg-6 col-md-8">
    <div class="card shadow-lg p-5 my-4 rounded-3xl">
      <div class="card-body">
        <header class="text-center">
          <a href="/">
            <img src="./assets/images/adea_mexico_logo.jpg" alt="ADEA Mexico">
          </a>
        </header>
        <h3 class="text-center mt-4 fw-bold">You have signed out!</h3>
        <p class="text-center">Redirecting in <span id="seconds">{{ seconds }}</span> seconds</p>
        <p class="text-center mt-5"> Go to <a [routerLink]="['/']">Login</a> </p>
      </div>
    </div>
  </div>
</div>
