<app-header></app-header>
<main class="container">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active">About Us</li>
          </ol>
        </div>
        <h4 class="page-title">About App</h4>
      </div>
    </div>
    <section class="col-12 col-lg-8">
      <div class="card shadow-sm">
        <div class="card-body">
          <p>Esta aplicación fue desarrollada como parte de una pruba tecnica por parte de la empresa <strong>ADEA
              México</strong> en la cual consta de un login de accesso y un CRUD de Usarios</p>
          <p>La aplicación esta desarrollada con los lenguajes de programación TypeScript por parte del Front End con el
            uso del Framwork Angular en su versión 13 y Java por parte del Back End con el uso del Framework Spring
            Boot.
          </p>
        </div>
      </div>
    </section>
    <aside class="col-12 col-lg-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <header>
            <h5 class="card-title fw-bold text-center">Tecnologias Usadas en el FrontEnd</h5>
          </header>
          <div class="row align-items-center">
            <div class="col-4 me-0 mb-4">
              <img src="/assets/images/webdev-icons/angular.svg" class="img-fluid" alt="Angular"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Angular">
            </div>
            <div class="col-4 me-0 mb-4">
              <img src="/assets/images/webdev-icons/sass.svg" class="img-fluid" alt="Sass" data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="Sass">
            </div>
            <div class="col-4 me-0 mb-4">
              <img src="/assets/images/webdev-icons/typescript-icon.svg" class="img-fluid" alt="TypeScript"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="TypeScript">
            </div>
            <div class="col-4 me-0 mb-4">
              <img src="/assets/images/webdev-icons/html5.svg" class="img-fluid" alt="HTML 5" data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="HTML 5">
            </div>
            <div class="col-4 me-0 mb-4">
              <img src="/assets/images/webdev-icons/bootstrap5.png" class="img-fluid" alt="Bootstrap 5"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Bootstrap 5">
            </div>
            <div class="col-4 me-0 mb-4">
              <img src="/assets/images/webdev-icons/jquery-icon.svg" class="img-fluid" alt="JQuery"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="JQuery">
            </div>
            <div class="col-12 mb-4">
              <h5 class="card-title fw-bold text-center">Tecnologias Usadas en el BackEnd</h5>
            </div>
            <div class="col-4 me-0 mb-4">
              <img src="/assets/images/webdev-icons/spring-icon.svg" class="img-fluid" alt="Spring Boot"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Spring Boot">
            </div>
            <div class="col-4 me-0 mb-4">
              <img src="/assets/images/webdev-icons/java-vertical.svg" class="img-fluid" alt="Java"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Java">
            </div>
            <div class="col-4 me-0 mb-4">
              <img src="/assets/images/webdev-icons/mysql.svg" class="img-fluid" alt="MySQL" data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="MySQL">
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>
</main>
<app-footer></app-footer>
